*{
    margin: 0px;
    padding: 0px;
}
.head1{
    width: 1000px;
 height: 100px;
 position: relative;
}
.head2{
    position: absolute;
    top: 120px;
    left: 480px;
}
.line1{
    display: inline-block;
}


.center2{
    padding: 160px;
    padding-top: 10px;
}
.main{
    position: relative;
}
.contain5{
    
    height: 270px;
    border: 1px solid red;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    top: 200px;
    right: 550px;
    box-shadow:4px 4px 4px  rgb(189, 187, 187);
}

.fa{
    position: absolute;
    top: 235px;
    left: 270px;
}
#id6{

    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 80px;
    color: red;
    text-align: left;
    border-bottom: 1px solid #070707;
}
#id7{
    color: red;
    padding-left: 75px;
    padding-top: 30px;
    text-decoration: line-through 2px #f30606;
}
.id8{
    padding-left: 65px;
    padding-top: 10px;
}
.notshow2{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: relative;
}

.popup{
    position:absolute;
    border: 1px solid rgb(182, 44, 44);
    height: 115px;
    width: 300px;
    border-radius: 8px;
    position: relative;
    top: 50%;
    left:35%;
    color: red;
    box-shadow: 4px 4px 4px lightgray;
}
#newlist{
    padding-bottom: 10px;
    padding-top: 10px;
}
.text123{
    border-radius: 4px;
    height: 30px;
    }
.btn1{
    height: 30px;
    width: 60px;
    border-radius: 30px;
    background-color: red;
    
}
.btn6{
    padding-top: 10px;
    padding-left: 125px; 
}